.footer{
    display: flex;
    width: 54vw;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav-link__active{
    width: 60px !important;
    height: 60px !important;
}
.nav-link{
    display: flex;
    width: 40px;
    height: 40px;
    background: #cc0000;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 2px solid #cc6400;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: .2s;
}
.btn-footer{
    width: 80px;
    height: 40px
}